<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['userNew']">Nuevo</button>
            <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['userEdit']">Editar</button>
            <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['userDetail']">Detalle</button>
          </div>
    </div>
</div>


<router-outlet></router-outlet>