<div [ngClass]="alerta" class="alert" role="alert">
    A simple primary alert—check it out!
</div>

<button class="btn btn-info mr-2" type="button" (click)="alerta = 'alert-info'"> Info </button>
<button class="btn btn-success" type="button" (click)="alerta = 'alert-success'"> Success </button>

<br><br>

<h3 [ngClass]="{ 'text-danger': propiedades.danger, 'text-info': !propiedades.danger }">
    Hola Mundo
</h3>

<button [ngClass]="{' btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}" class="btn" type="button"
    (click)="propiedades.danger = !propiedades.danger"> Cambiar </button>

<br><br>

<h3> Proceso Asíncrono </h3>

<button (click)="ejecutar()"
        class="btn btn-primary" 
        type="button"
        [disabled]="loading">

        <i [ngClass]="{'fa-save':!loading, 'fa-sync-alt fa-spin':loading }"
        class=" fa "></i> 
        <span *ngIf="!loading"> Guardar Cambios </span>
        <span *ngIf="loading"> Espere por favor </span>
</button>